.imageTop:hover,
.language:hover,
.links>a:hover,
#CloseModal:hover,
#OpenMenu:hover{
    border-radius: 20px;  
    box-shadow: 0 0 0 10px #0000002d;
    background-color: #0000002d;
    background-blend-mode: hard-light;
}
#menu-list>p:hover{
  box-shadow: 0 0 0 10px #0000002d;
  background-color: #0000002d;
  border-radius: 8px;
}
#hoverLink>li>a:hover{
  box-shadow: 0 0 0 15px #0000002d;
  background-color: #0000002d;
  border-radius: 8px;
}
.v19:hover{
    text-decoration: underline;
}

.result-item {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  #lines{
    box-shadow: 0 2px 5px white;
  }
  
  .result-item:hover {
    background-color: #ddd;
  }
  /* Add to your CSS file or inside a <style> tag */

.custom-scroll::-webkit-scrollbar-track {
  background: #111827; /* light gray track */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #374151; /* Tailwind's indigo-600 */
  border-radius: 6px;
  border: 3px solid #9CA3AF;
}

/* Optional: for Firefox */
.custom-scroll {
  scrollbar-color:  #374151 #111827;
}

.text-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#leftBorder{
  border: 2px solid #253b79;;
}
#CloseModal{
  display: none;
}
/* light mode */
body.LightMode{
  background-color: #F9FAFB;
  color: #1F2937;
}
body.LightMode .custom-scroll::-webkit-scrollbar-track {
  background: #D1D5DB; /* light gray track */
}

body.LightMode .custom-scroll::-webkit-scrollbar-thumb {
  background-color:  #9CA3AF; /* Tailwind's indigo-600 */
  border-radius: 6px;
  border: 3px solid #9CA3AF;
}

/* Optional: for Firefox */
body.LightMode .custom-scroll {
  scrollbar-color:   #9CA3AF #D1D5DB;
}
body.LightMode #lines{
  box-shadow: 0 2px 5px black;
}
body.LightMode #ModalParent{
background-color: #E5E7EB;
}
body.LightMode .searchbar{
  background-color: #E5E7EB;
}
body.LightMode #inputBar>div{
  background-color: #F9FAFB;
}
body.LightMode #firstTopBar{
  background-color: #E5E7EB;
}
body.LightMode #ModalParent{
  background-color: #6b7280ef;
}
body.LightMode #ModalContent{
  background-color: #F9FAFB;
}
body.LightMode #LearnBotton>button{
  color: white;
  background: #60A5FA;
}
body.LightMode #results>a:hover{
  color: black;
  background-color: #4a7fc0;
}

/* .opactity{
  opacity: 0.1;
} */
@media screen and (max-width:1150px) {
  #TheFourLinks{
    display: none;
  }
  #InputBarParent{
    flex: 0.72;
  }

  #menuReact{
    flex: 0.14;
  }
  #menuReact>div:nth-child(1){
    display: flex;
  }
  #SunGitLan{
    flex: 0.154;
  }
  #firstTopBar{
    display: none;

  }
 
  #ModalContent{
    width: 100%;
  }
  #CloseModal{
    display: flex;
  }
}

@media screen and (max-width:860px) {
  #InputBarParent{
   display: none;
  }
  #secondTopBar{
    justify-content: space-between;
  }
  #menuReact{
    flex: 0.2;
  }
  #SunGitLan{
    flex: 0.27;
  }
  #SunGitLan>div:nth-child(1){
    display: block;
  }


}
@media screen and (max-width:680px) {
  #TwoBottons{
    flex-direction: column; 
    row-gap: 8px;
  }
  #LearnBotton{
    flex: 0.3;
    justify-content: center;
  }
  #LearnBotton>button{
    width: 90%;
  }
  #APLBotton{
    justify-content: center;
    flex: 0.7;
  }
  #APLBotton>button{
    width: 90%;
  }
}
@media screen and (max-width:550px) {
  #menuReact{
    flex: 0.35;
  }
  #SunGitLan{
    flex: 0.45;
  }

}
@media screen and (max-width: 425px) {
  #React{
    font-size: 45px;
  }
  .IntroText{
    width: 90%;
  }
 .IntroText>div:nth-child(1){
  height: 96px;
  width:  96px;
 }
  .imageTop > div,
  #OpenMenu {
    height: 24px;
    width: 24px;
  }
  #WebNative{
    font-size: 28px;

    /* background: #000; */
  }
  #menu{
    font-size: 16px;
  }
  #hoverLink,
  #menu-list>h2{
    font-size: 18px;
  }
}